/*body {
    width: 500px;
    margin: 0 auto;
}
*/
#form {
    width: 520px;
    height: auto;
    padding: 50px 50px;;
    position: relative;
    margin: 0 auto;
    background-color: rgba(52, 73, 94,1.0);
}
#student_number {
    background-color: rgba(52, 73, 94,1.0);
    border: 1px solid rgba(52, 73, 94,1.0);
    width: 48px;
}

#form h1 {
    text-align: center;
    color: rgba(255, 255, 255,1.0);
    font-family: Tahoma;
    text-transform: uppercase;
}


#info_container ol {
    position: relative;
    display: inline-block;
    width: 500px;
    left: 0px;
    padding-left: 0px;
    border: 1px solid white;
    height: 30px;
    text-transform: capitalize;
    margin: 5px 0px;
}

#info_container input {
    width: 25px;
    height: 30px;
    vertical-align: bottom;
    margin-left: 25px;
}

#info_container li {
    display: inline-block;
    width: 125px;
    text-align: center;
    color: rgba(255, 255, 255,1.0);
    height: 20px;
    #left: -40px;
    font-family: tahoma;
    #float: left;
    margin-bottom: 10px;
}

#info_container li:nth-child(1) {
    padding-right: 0px;
    padding-left: 20px;
    text-align: left;
    width: 35px;
}

#totalBar {
    text-align: center;
    width: 306px;
    margin: 0 auto;
    height: 32px;
    left: 50px;
    background-color: rgba(255, 255, 255,0.0);
    position: absolute;
    font-size: 22px;
    margin-top: 0px;
    color: white;
    padding-top: 0px;
    font-family: tahoma;
    border: 1px solid rgba(255, 255, 255,1.0);
    text-transform: capitalize;
    margin-top: 5px;
}

#totalBar:hover {
    background-color: rgba(255, 255, 255,1.0);
    color: rgba(52, 73, 94,1.0);
    cursor: pointer;
}

#total {
    text-align: center;
    width: 122px;
    margin: 0 auto;
    height: 32px;
    right: 134px;
    background-color: rgba(52, 73, 94,1.0);
    position: absolute;
    font-size: 20px;
    #margin-top: 2px;
    color: rgba(255, 255, 255,1.0);
    padding-top: 0px;
    font-family: tahoma;
    border: 1px solid rgba(255, 255, 255,1.0);
    margin-top: 5px;
}
.text_input {
    background-color: rgba(255, 255, 255,0.0);
    width: 520px;
}

#student_selector {
    width: 10px;
    position: absolute;
    display: none;
}
.text_input input {
    width: 120px;
    border: 1px solid black;
    margin-left: 0px;
    height: 30px;
    text-transform: capitalize;
}

.title .colume {
    display: inline-block;
    width: 122px;
    text-align: center;
    font-size: 20px;
    margin: 0px auto;
    position: relative;
    height: 30px;
    padding-top: 5px;
    #background-color: rgba(255, 255, 255,1.0);
    color: rgba(255, 255, 255,1.0);
    border: 1px solid rgba(255, 255, 255,1.0);
    text-transform: capitalize;
    #margin-bottom: 5px;
}

.title #numb {
    width: 50px;
    #height: 35px;
    position: relative;
    #padding: 9px 40px;
    color: rgba(255, 255, 255,1.0);
    border: 1px solid rgba(255, 255, 255,1.0);
}

.btn {
    color: rgba(255, 255, 255,1.0);
    background-color: grey;
    height: 35px;
    width: 60px;
    padding: 5px;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px 0px 5px 0px;
    text-transform: capitalize;
}

.removebtn {
    color: white;
    background-color: grey;
    height: 34px;
    width: 60px;
    padding: 0px;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    right: 70px;
    bottom: 11px;
    text-transform: capitalize;
}

.addbtn {
    color: white;
    background-color: grey;
    height: 34px;
    width: 60px;
    padding: 0px;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    right: 262px;
    bottom: 11px;
    text-transform: capitalize;
}
.avg {
    #position: relative;
    width: 580px;
    display: inline;
    height: 40px;
    margin-top: 2px;
}
.firstPlace {
    background-color: rgba(22, 160, 133,1.0);
}

.secondPlace {
    background-color: rgba(39, 174, 96,1.0);
}
.thirdPlace {
    background-color: rgba(46, 204, 113,1.0);
}
.lastPlace {
    background-color: rgba(192, 57, 43,1.0);
}
.delete {
    width: 50px;
    right: 0px;
    position: absolute;
    
}
/*
::-webkit-input-placeholder {
   color: red;
}
:-moz-placeholder { /* Firefox 18- 
   color: red;  
}
::-moz-placeholder {  /* Firefox 19+ 
   color: red;  
}
:-ms-input-placeholder {  
   color: red;  
} */